/* Importa las fuentes */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:wght@300;400;500;700&display=swap");

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu reset personal */
* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  box-sizing: border-box;
}

/* styles.css o styled-components */
.section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}
